$themeColor: #26b5b0;  // 主题色

//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

// button
$btnBlack: #2f353b;   //按钮黑
$blue: #34b4bf;       //原谅色（青蓝）


/* 文字颜色 */
$black: #000; // 常规文字颜色
$darkGray: #606266; // 备注类文字颜色
$lightGray: #a2acbb; // 子标题文字颜色
$white: #fff;

/* 背景色 */
$bgGray1: #e7ecf2; // 主要背景色
$bgGray2: #fbfcfd; // 主要用于form表单背景
$bgGray3: #fafafa;

$borderGray1: #e5e5e5; // 普通边框线
$borderGray2: #e7ecf1; // form表单边框线

/* 丰富色 */
$color1: #25abb8;
$color2: #4d79bb;
$color3: #8d49ab;
$color4: #22ba76;
$color5: #fd9827;
$color6: #5e738b;
